// main background
$bg: #e9edf9;

// colors
$info: #dbe9fd;
$success: #e0f6f2;
$danger: #fce4e5;

// texts
$heading: #2e384d;
$body-text: #8798ad;

//swatches
$primary: #0243eb;
$primary-selected: #0b6bf2;
$primary-disabled: #dbe9fd;

